version: '3.8'
services:
  site:
    build: .
    command: jekyll s --drafts --future --force_polling --livereload --livereload-port 35730 --host 0.0.0.0 --port 4000
    volumes:
      - .:/srv/jekyll
    ports:
      - 4000:4000
      - 35730:35730
